.features-section {
  background: #fafafa;
  margin-bottom: 124rem;
  @include desktop-small {
    padding: 0 20rem;
  }
  &__title {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 36rem;
    font-weight: 600;
    padding-top: 63rem;
  }

  &__list {
    width: 100%;
    display: flex;
    gap: 30rem;
    margin-top: 63rem;
    justify-content: center;
    @include desktop-small {
      display: grid;
    }
  }

  &__item {
    position: relative;
    transition: var(--transition);
  }

  &__image {
    img {
      max-width: 350rem;
    }
  }

  &__info {
    margin-inline: auto;
    max-width: 293rem;
    width: 100%;
    border-radius: 8rem;
    background: #fff;
    box-shadow: 0rem 5rem 30rem 0rem rgba(0, 0, 0, 0.1);
    padding: 33rem 32rem 25rem 32rem;
    position: relative;
    bottom: 100rem;
  }
}
.info {
  &__title {
    color: #101010;
    text-align: center;
    font-family: Lato;
    font-size: 18rem;
    font-weight: 700;
  }

  &__desc {
    color: #101010;
    text-align: center;
    font-family: Lato;
    font-size: 12rem;
    font-weight: 400;
    line-height: 150%;
  }

  &__btn {
    text-align: center;
    a {
      color: #ed4c5c;
      font-family: Lato;
      font-size: 12rem;
      font-weight: 700;
      line-height: 150%;
      transition: var(--transition);
      &:hover {
        color: #f3750f;
      }
    }
  }
}
